In [2]:
import pandas as pd 
import numpy as np
import datetime as dt

In [3]:
flight_data = pd.read_csv("flight_data.csv")

In [4]:
flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
dtypes: float64(5), int64(9), object(5)
memory usage: 48.8+ MB

In [5]:
flight_data.shape

(336776, 19)

In [27]:
flight_data.isnull().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [33]:
flight_data = flight_data.dropna()

In [34]:
flight_data.shape

(327346, 19)

In [38]:
flight_data.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00

In [82]:
#flight_data[(flight_data.flight == 725) & (flight_data.carrier == "AA")]

Empty DataFrame
Columns: [year, month, day, dep_time, sched_dep_time, dep_delay, arr_time, sched_arr_time, arr_delay, carrier, flight, tailnum, origin, dest, air_time, distance, hour, minute, time_hour]
Index: []

In [7]:
flight_data.describe()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,air_time,distance,hour,minute
count,336776.0,336776.000000,336776.000000,328521.000000,336776.000000,328521.000000,328063.000000,336776.000000,327346.000000,336776.000000,327346.000000,336776.000000,336776.000000,336776.000000
mean,2013.0,6.548510,15.710787,1349.109947,1344.254840,12.639070,1502.054999,1536.380220,6.895377,1971.923620,150.686460,1039.912604,13.180247,26.230100
std,0.0,3.414457,8.768607,488.281791,467.335756,40.210061,533.264132,497.457142,44.633292,1632.471938,93.688305,733.233033,4.661316,19.300846
min,2013.0,1.000000,1.000000,1.000000,106.000000,-43.000000,1.000000,1.000000,-86.000000,1.000000,20.000000,17.000000,1.000000,0.000000
25%,2013.0,4.000000,8.000000,907.000000,906.000000,-5.000000,1104.000000,1124.000000,-17.000000,553.000000,82.000000,502.000000,9.000000,8.000000
50%,2013.0,7.000000,16.000000,1401.000000,1359.000000,-2.000000,1535.000000,1556.000000,-5.000000,1496.000000,129.000000,872.000000,13.000000,29.000000
75%,2013.0,10.000000,23.000000,1744.000000,1729.000000,11.000000,1940.000000,1945.000000,14.000000,3465.000000,192.000000,1389.000000,17.000000,44.000000
max,2013.0,12.000000,31.000000,2400.000000,2359.000000,1301.000000,2400.000000,2359.000000,1272.000000,8500.000000,695.000000,4983.000000,23.000000,59.000000

In [ ]:
# handle Null value 
# we will drop all null values because it less than 5% 
# tailnum >> airplane ID,  we suggested to drop column 
# carrier >>

In [35]:
flight_data['tailnum'].value_counts()

N725MQ    544
N722MQ    485
N723MQ    475
N711MQ    462
N713MQ    449
         ...
N456UW      1
N26906      1
N809NW      1
N941UW      1
N557AS      1
Name: tailnum, Length: 4037, dtype: int64

In [36]:
flight_data['tailnum'].unique()

array(['N14228', 'N24211', 'N619AA', ..., 'N776SK', 'N785SK', 'N557AS'],
      dtype=object)

In [11]:
flight_data['carrier'].value_counts()

UA    58665
B6    54635
EV    54173
DL    48110
AA    32729
MQ    26397
US    20536
9E    18460
WN    12275
VX     5162
FL     3260
AS      714
F9      685
YV      601
HA      342
OO       32
Name: carrier, dtype: int64

In [104]:
flight_data['origin'].unique()

array(['EWR', 'LGA', 'JFK'], dtype=object)

In [12]:
#how many carrier we have 
flight_data['carrier'].unique()

array(['UA', 'AA', 'B6', 'DL', 'EV', 'MQ', 'US', 'WN', 'VX', 'FL', 'AS',
       '9E', 'F9', 'HA', 'YV', 'OO'], dtype=object)

- Explore destination and distance

In [56]:
# how many flight to each destination per month? 
flight_data.groupby(['dest','month']).month.count()

dest  month
ABQ   4         9
      5        31
      6        30
      7        31
      8        31
               ..
XNA   8        87
      9        80
      10       91
      11       72
      12       62
Name: month, Length: 1112, dtype: int64

In [ ]:
#flight_data[(flight_data['month'] == 4) & (flight_data['dest'] == "ABQ")].count()

In [62]:
# How many flights to each destination per month?
#flight_data.groupby(['dest']).agg({'month':'count'}).sort_values(by='month', ascending=False)

      month
dest
ATL   16837
ORD   16566
LAX   16026
BOS   15022
MCO   13967
...     ...
HDN      14
MTJ      14
SBN      10
ANC       8
LEX       1

[104 rows x 1 columns]

In [63]:
flight_data.distance.max()

4983

In [49]:
#what is the longest distance from each origin to other destinations ?
flight_data.groupby(['origin','dest']).agg({'distance':'max'}).sort_values(by='distance', ascending=False)

             distance
origin dest
JFK    HNL       4983
EWR    HNL       4963
       ANC       3370
JFK    SFO       2586
       OAK       2576
...               ...
EWR    ALB        143
       BDL        116
LGA    PHL         96
JFK    PHL         94
EWR    PHL         80

[223 rows x 1 columns]

In [ ]:
#flight_data[flight_data['year'] == 2013]

- arrival and departure delay

In [70]:
# Sort the carriers based on their maximum departure delay?
flight_data.groupby(['carrier']).agg({'dep_delay':'max'}).sort_values(by='dep_delay', ascending=False)

         dep_delay
carrier
HA          1301.0
MQ          1137.0
AA          1014.0
DL           960.0
F9           853.0
9E           747.0
VX           653.0
FL           602.0
EV           548.0
B6           502.0
US           500.0
UA           483.0
WN           471.0
YV           387.0
AS           225.0
OO           154.0

In [66]:
# what is the month of the year with the most arrival delay 
#mean arrival delay according to each month 
flight_data.groupby(['month']).agg({'arr_delay':'mean'}).sort_values(by='arr_delay', ascending=False)

                arr_delay
month carrier
1     OO       107.000000
6     OO        68.500000
8     OO        64.500000
7     FL        44.967742
6     YV        44.589744
...                   ...
9     HA       -19.400000
5     HA       -21.064516
10    AS       -25.919355
2     HA       -28.821429
9     AS       -34.900000

[185 rows x 1 columns]

In [72]:
# what is the month of the year with the most depature delay 
# mean departed delay according to each month 
flight_data.groupby(['month']).agg({'dep_delay':'mean'}).sort_values(by='dep_delay', ascending=False)

       dep_delay
month
7      21.522179
6      20.725614
12     16.482161
4      13.849187
3      13.164289
5      12.891709
8      12.570524
2      10.760239
1       9.985491
9       6.630285
10      6.233175
11      5.420340

In [110]:
flight_data[(flight_data.dep_delay == 0) & (flight_data.arr_delay == 0)].arr_delay.count()

347

In [107]:
# How many flights depart and arrive on schedule at different origins? 
flight_data[(flight_data.dep_delay == 0) & (flight_data.arr_delay == 0)  & (flight_data.origin == "EWR")].arr_delay.count()

99

In [109]:
flight_data[(flight_data.dep_delay == 0) & (flight_data.arr_delay == 0)  & (flight_data.origin == "JFK")].arr_delay.count()

131

In [108]:
flight_data[(flight_data.dep_delay == 0) & (flight_data.arr_delay == 0)  & (flight_data.origin == "LGA")].arr_delay.count()

99

In [95]:

flight_data.groupby(['origin']).agg({'dep_delay':'min', 'arr_delay':'min'}).sort_values(by='dep_delay', ascending=False)

#flight_data.groupby(['origin']).agg({'dep_delay':'min', 'arr_delay':'min'}).sort_values(by='origin', ascending=False)

        dep_delay  arr_delay
origin
EWR         -25.0      -86.0
LGA         -33.0      -68.0
JFK         -43.0      -79.0

In [65]:
# How many flight arrive on time? 
flight_data[flight_data.arr_delay == 0]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
35,2013,1,1,627.0,630,-3.0,1018.0,1018,0.0,US,27,N535UW,JFK,PHX,330.0,2153,6,30,1/1/2013 6:00
114,2013,1,1,807.0,810,-3.0,1043.0,1043,0.0,DL,269,N308DE,JFK,ATL,126.0,760,8,10,1/1/2013 8:00
217,2013,1,1,956.0,1000,-4.0,1241.0,1241,0.0,DL,1847,N956DL,LGA,ATL,129.0,762,10,0,1/1/2013 10:00
273,2013,1,1,1124.0,1125,-1.0,1445.0,1445,0.0,DL,1171,N376NW,LGA,RSW,169.0,1080,11,25,1/1/2013 11:00
317,2013,1,1,1219.0,1220,-1.0,1415.0,1415,0.0,AA,1757,N545AA,LGA,STL,161.0,888,12,20,1/1/2013 12:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336296,2013,9,30,1409.0,1415,-6.0,1550.0,1550,0.0,AA,1170,N4WAAA,LGA,STL,121.0,888,14,15,30-09-2013 14:00
336383,2013,9,30,1530.0,1530,0.0,1845.0,1845,0.0,AA,85,N385AA,JFK,SFO,324.0,2586,15,30,30-09-2013 15:00
336438,2013,9,30,1615.0,1620,-5.0,1828.0,1828,0.0,9E,4094,N805AY,JFK,RDU,64.0,427,16,20,30-09-2013 16:00
336491,2013,9,30,1703.0,1645,18.0,1915.0,1915,0.0,DL,884,N301NB,LGA,DEN,212.0,1620,16,45,30-09-2013 16:00
336595,2013,9,30,1843.0,1830,13.0,1950.0,1950,0.0,MQ,3486,N515MQ,LGA,BNA,100.0,764,18,30,30-09-2013 18:00

In [ ]:
list1 = flight_data.loc[:,"year":'day']
flight_data['date'] = pd.to_datetime(list1)

In [ ]:
flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
 19  date            336776 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(9), object(5)
memory usage: 51.4+ MB

In [ ]:
# No duplicated values 
flight_data.duplicated().sum()

0